@CHARSET "UTF-8";
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#status_bar  {
	width: 100%;
	height: 20px;
	text-align: right;
	color: #FFF7C3;
	background-color: #3D3D3D;
	padding: 0px;
	margin: 0px;
}

#login_info>a:link {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #89C4F9;
}

#login_info>a:visited {
    color: #89C4F9;
}

#login_info>a:hover {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    font-weight: bold;
}

#login_info>a:active {
    font-weight: bold;
}

#footer {
	width: 100%;
	height: 20px;
	color: #FFF7C3;
	background-color: #3D3D3D;
	text-align: center;
	clear: both;
}

#container  {
	overflow: auto;
	width: 90%;
	height: 700px;
}

#map_canvas {
	width: 60%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#content {
	width: 40%;
	height: 100%;
	margin: 0px;
	padding: 0px;	
}

#menu {
	width: 10%;
	height: 700px;
	background-color:#eee;
}

#center_box {
	width: 400px;
	margin: auto;
	padding:15px;
	border: 1px dashed #333;
	background-color:#eee;
}

#loader {
	margin: auto;
}

#user_list  {
	width: 60%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#user_info {
	width: 40%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.left {
	float: left;
}

.right {
	float: right;
}


