@CHARSET "UTF-8";
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url(../images/bg1.jpg);
	background-size: 100%;
}

textarea {
	width: 100%;
	height: 100px;
	max-height:100px;
	min-height: 100px;
	max-width: 100px;
	min-width: 100%;
	
	border: 2px solid #D9D9D9;
	padding: 3px;
	font-family: Tahoma, sans-serif;

	background-position: bottom right;
	background-repeat: no-repeat;
}

#status_bar  {
	width: 100%;
	height: 2.5%;
	min-height: 20px;
	text-align: right;
	color: #FFF7C3;
	background-color: #3D3D3D;
	padding: 0px;
	margin: 0px;
}

#login_info>a:link {
	text-decoration: none;
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #89C4F9;
}

#login_info>a:visited {
	text-decoration: none;
    color: #89C4F9;
}

#login_info>a:hover {
	text-decoration: none;
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    font-weight: bold;
    background-color: #990000;
}

#login_info>a:active {
    font-weight: bold;
}

#footer {
	

	height: 2.5%;
	min-height: 20px;
	width: 100%;

	
	
	
	color: #FFF7C3;
	background-color: #3D3D3D;
	text-align: center;
	font-size: 12px;
	clear: both;

}

#container  {
	overflow: auto;
	width: 90%;
	height: 95%;
}

#map_canvas {
	width: 60%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#content {
	width: 40%;
	height: 100%;
	margin: 0px;
	padding: 0px;	
}

#menu {

	width: 10%;
	height: 95%;
	
	
	font-family: 'Trebuchet MS', 'Lucida Grande',
	  Verdana, Lucida, Geneva, Helvetica, 
	  Arial, sans-serif;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
		
#menu li {
	border-bottom: 1px solid #90bade;
	margin: 0;
}

#menu li a {
	display: block;
	padding: 20% 20% 20% 0.5em;
	border-left: 10px solid #00688B;
	border-right: 10px solid #00B2EE;
	background-color: #009ACD;
	color: #fff;
	text-decoration: none;
	width: 100%;
}

html>body #menu li a {
	width: auto;
}

#menu li a:hover {
	border-left: 10px solid #FF3030;
	border-right: 10px solid #CD2626;
	background-color: #EE2C2C;
	color: #fff;
}

.center_box_colorless {
	
	text-align: center;
	width: 400px;
	margin: 0 auto;
	padding:15px;
	border: 1px dashed #333;
	
	
		  position:relative;
  top:5%;
  left:50%;
  
  margin-left:-200px; /*this is half of width of your div*/
}

#center_box {

	text-align: center;
	width: 400px;
	margin: 0 auto;
	padding:15px;
	border: 1px dashed #333;
	background-color: #FEF5D9;
	
		  position:relative;
  top:5%;
  left:50%;
  
  margin-left:-200px; /*this is half of width of your div*/

}

.center {
	text-align: center;
	margin: 0 auto;
	padding:15px;

		  position:relative;
  
}

#loader {
	margin: auto;
}

#user_list  {
	width: 60%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#user_info {
	width: 40%;
	margin: 0px;
	padding: 0px;
}

.left {
	float: left;
	width: 60%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.right {
	float: right;
	width: 40%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

div.time-picker {
  position: absolute;
  height: 191px;
  width:4em; /* needed for IE */
  overflow: auto;
  background: #fff;
  border: 1px solid #aaa;
  z-index: 99;
  margin: 0;
}
div.time-picker-12hours {
  width:6em; /* needed for IE */
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.time-picker li {
  cursor: pointer;
  height: 10px;
  font: 12px/1 Helvetica, Arial, sans-serif;
  padding: 4px 3px;
}
div.time-picker li.selected {
  background: #0063CE;
  color: #fff;
}

.page_navigation , .alt_page_navigation{
	padding-bottom: 10px;
}

.page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
	margin:2px;
	color:white;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	background-color:#00227D;
}

.iphone_list {
	width: 100%;
	max-width: 400px;
	font-size: 15px;
}

.iphone_list ul {
	list-style: none;
}

.iphone_list ul li {
	
}

.iphone_list ul li a {
	display: block;
	text-decoration: none;
	color: #000000;

	line-height: 30px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
	padding-left: 10px;
	cursor: pointer;
}

.iphone_list ul li a:hover {
	color: #FFFFFF;
	background-image: url(../images/hover.png);
	background-repeat: repeat-x;
}

.iphone_list ul li a strong {
	margin-right: 10px;
}

.navlist {
	width: 100%;
	max-width: 500px;
	font-size: 15px;
}

.navlist ul {
	list-style: none;
}

.navlist ul li {
	
}

.navlist ul li a {
	display: block;
	text-decoration: none;
	color: #000000;
	
	line-height: 23px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	padding-left: 10px;
	cursor: pointer;
}

.navlist ul li a strong {
	margin-right: 10px;
}

#delete_message {
	float: right;
}


.cool_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.cool_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.cool_button:active {
	position:relative;
	top:1px;
}