@CHARSET "UTF-8";
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

textarea {
	width: 100%;
	height: 100px;
	max-height: 100px;
	min-height: 100px;
	max-width: 100%;
	min-width: 100%;
}

#status_bar  {
	width: 100%;
	height: 20px;
	text-align: right;
	color: #FFF7C3;
	background-color: #3D3D3D;
	padding: 0px;
	margin: 0px;
}

#login_info>a:link {
	text-decoration: none;
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #89C4F9;
}

#login_info>a:visited {
	text-decoration: none;
    color: #89C4F9;
}

#login_info>a:hover {
	text-decoration: none;
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    font-weight: bold;
    background-color: #990000;
}

#login_info>a:active {
    font-weight: bold;
}

#footer {
	width: 100%;
	height: 20px;
	color: #FFF7C3;
	background-color: #3D3D3D;
	text-align: center;
	clear: both;
}

#container  {
	overflow: auto;
	width: 90%;
	height: 700px;
}

#map_canvas {
	width: 60%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#content {
	width: 40%;
	height: 100%;
	margin: 0px;
	padding: 0px;	
}

#menu {
	width: 10%;
	height: 700px;
	background: #e1ddd9;
	background-color:#eee;
	font-family: 'Trebuchet MS', 'Lucida Grande',
	  Verdana, Lucida, Geneva, Helvetica, 
	  Arial, sans-serif;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
		
#menu li {
	border-bottom: 1px solid #90bade;
	margin: 0;
}

#menu li a {
	display: block;
	padding: 20% 20% 20% 0.5em;
	border-left: 10px solid #00688B;
	border-right: 10px solid #00B2EE;
	background-color: #009ACD;
	color: #fff;
	text-decoration: none;
	width: 100%;
}

html>body #menu li a {
	width: auto;
}

#menu li a:hover {
	border-left: 10px solid #FF3030;
	border-right: 10px solid #CD2626;
	background-color: #EE2C2C;
	color: #fff;
}

#center_box {
	width: 400px;
	margin: auto;
	padding:15px;
	border: 1px dashed #333;
	background-color:#eee;
}

#loader {
	margin: auto;
}

#user_list  {
	width: 60%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#user_info {
	width: 40%;
	margin: 0px;
	padding: 0px;
}

.left {
	float: left;
}

.right {
	float: right;
}
